@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5rem 0 5rem;
}

.nav__list {
    display: flex;
    padding: 0px;
    gap: 2rem;
}

.list__element {
    list-style: none; 
    font-weight: 600;  
    color: #3E356A;
}

.header__icons {
    display: flex;
    gap: 1rem;
}

.burger-menu {
    display: none; 
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }
  
  .burger-menu span {
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 2px;
    transition: all 0.3s linear;
  }

  .header__nav.active {
    display: block;
    position: absolute;
    top: 75px;
    right: 0;
    text-align: center;
  }

  #searchForm{
    display: none;
  }

  .search{
    position: relative;
  }

  #searchButton{
    background-color: #D2CFE4;
    border: none;
    margin-left: 0.5rem;
    border-radius: 1rem;
  }

  #searchForm.active{
    display: flex;
    position: absolute;
    right: -100px;
  }

  

main {
    padding: 0rem 15rem 4rem 15rem;
}

.SwipeBox {
    padding: 0rem 2rem;
    background-color: #D2CFE4;
    border-radius: 2rem;
    height: 550px;
}

.SwipeBox__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SwipeBox__information {
    margin-left: 4rem;
}

.information__title {
    font-size: 58px;
    font-weight: 600;
}

.information__description {
    font-size: 17px;
}

.information__btn {
    background-color: black;
    color: white;
    padding: 0.8rem 3rem;
    border: none;
    border-radius: 3rem;
    font-weight: 400;
    font-size: 19px;
}

.SwipeBox__img {
    height: 621px;
    margin-top: -6.5rem;
}

.SwipeBox__arrow {
    width: 16px;
    height: 30px;
}

.SwipeBox__lines {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: -0.5rem;
}

.lines__element {
    margin: 0;
    background-color: white;
    border: none;
    width: 194px;
    height: 3px;
}

#firstLine {
    background-color: black;
}


.techBlocks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.techBlocks__blocks {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    grid-template-rows: 1.5fr 1fr ;
    grid-gap: 1.5rem 1rem;
}

.blocks__element {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden
}

.blocks__element img {
    max-width: 100%;
    height: auto;
}

#firstBlock {
    position: relative;
    max-width: 639px;
    max-height: 472px;
    grid-row: 1 ;
    grid-column: 1 / 3 ;
    overflow: hidden;
    text-align: right;
    padding: 0 2rem;
    align-items: flex-end;
}

#firstBlock .element__info {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: absolute;
    align-items: flex-end;
    bottom: 0;
    z-index: 100;
}

#firstBlock img {
    align-self: self-start;
    max-width: auto;
    max-height: 397px;
    margin-top: -3rem;
}


#secondBlock {
    max-width: 639px;
    max-height: 270px;
    grid-row: 2;
    grid-column: 1 / 3;
    flex-direction: row;
    padding: 0 2rem;
    text-align: right;
}

#secondBlock img {
    max-height: 680px ;
}

#thirdBlock {
    justify-content: center;
    max-width: 312px;
    max-height: 722px;
    grid-row: 1 / 3;
    grid-column: 3;
    text-align: center;
    gap: 2rem;
}

#thirdBlock img {
    max-height: 405px ;
    max-width: 367px;
    margin-left: 10rem;
}

#fourthBlock {
    justify-content: center;
    gap: 2rem;
    max-width: 312px;
    max-height: 722px;
    grid-row: 1 / 3;
    grid-column: 4;
    flex-direction: column-reverse;
    text-align: center;
}

#fourthBlock img {
    max-height: 467px ;
    max-width: 425px;
}

.element__info {
    color: white;
    max-width: 100%;
}

.info__title {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.info__description {
    margin: 0;
    font-size: 32px;
}

.offers {
    display: flex;
    flex-direction: column;
}

.offers__title {
    font-size: 45px;
    font-weight: 600;
}

.offers__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0.2rem;
    max-width: 302px;
    max-height: 396px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
    border-radius: 18px;
}

.block__offer img {
    max-width: 285px;
    max-height: 247px;
}

.offer {
    padding: 0 1rem;
}

.offer__title {
    font-size: 22px;
    font-weight: 500;
}

.offer__title, .offer__price {
    color: rgba(62, 53, 106, 1);
}

.offer__price {
    font-size: 18px;
}

#openModalBtn{
    background-color: #cac5ee;
    box-shadow: 1px 1px 1px 1px;
    border-radius:1rem ;
    padding: 1rem;
    border: none;
    transition: 0.3s ease-in-out;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    position: relative;
  }
  
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: red;
  }
  
  #subscribeForm input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  #subscribeForm button {
    width: 100%;
    padding: 10px;
    background-color: #3E356A;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #subscribeForm button:hover {
    background-color: #5a4f91;
  }
  

footer {
    background-color: #d8d6e0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding: 2.5rem 0 0 0;
    margin-bottom: -2.5rem;
}


.footer__img {
    width: 500px;
    max-width: 500px;
    max-height: 500px;
}

.footer__smalltext {
    text-align: center;
    font-size: 10px;
    color: #3E356A;
    justify-self: flex-end;
}

@media screen and (max-width: 1700px) {

    .SwipeBox {
        height: 450px;
    }
    .SwipeBox__information{
        margin-left: 0;
    }
    
    .SwipeBox__img, .SwipeBox__lines {
        display: none;
    }

    .SwipeBox__wrapper {
        text-align: center;
    }

    .information__description {
        font-size: 20px;
    }

    .SwipeBox__lines {
        margin-top: 5rem;
    }

    .offers__block {
        gap: 1rem;
    }

}

@media screen and (max-width: 1600px) {
    
    #secondBlock  img{
        height: 500px;

    }
}

@media screen and (max-width: 1370px) {
    
    main {
        padding: 0rem 2rem 1rem 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .techBlocks__blocks{
        grid-template-rows: 1fr 0.5fr;
    }    
    #firstBlock img{
        max-height: 256px;
        margin-top: -1rem;
    }
    #secondBlock img{
        max-height: 320px;
    }
    header {
        padding: 3rem 1rem 0;
    }
    .info__description{
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    
    .burger-menu {
        display: flex;
    }
    .header__nav {
    display: none; 
    }

    .list__element{
        background-color: #ececec;
        padding: 0.5rem;
        border-radius: 1rem;
    }

    .nav__list {
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 1rem;
    }

    .information__title {
        font-size: 35px
    }
    .SwipeBox{
        height: 350px;
    }
    .footer__img{
        width: auto;
        height: auto;
    }
    .techBlocks__blocks{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #firstBlock, #secondBlock, #thirdBlock, #fourthBlock{
        padding: 0;
        max-width: 200px;
        max-height: 100px;
    }
    #firstBlock .element__info {
        position: static;
    }
    .blocks__element img {
        display: none;
    }
    .info__title{
        text-align: center;
    }
    .info__description{
        font-size: 32px;
        text-align: center;
    }
}
@media screen and (max-width: 470px) {
    .SwipeBox{
        height: 225px;
    }
    .information__title{
        font-size: 20px;
    }
    .information__description{
        font-size: 14px;
    }
    .SwipeBox__arrow{
        display: none;
    }

    .offers__title {
        font-size: 2em;
    }
}